body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
    background-color: #faf6f0;
}

/* nav bar */
.navbar {
background-color: #ffffff; padding: 1rem 2.5rem;
display: Flex; justify-content: space-between;
align-items: center;
box-shadow: 0 2px 8px rgba(0,0,0,0.05); position: sticky;
top: 0;
z-index: 1000;
}

.logo {
    margin: 0;
    color: #4a6fa5;
}

.navbar ul {
    display: flex;
    gap: 15px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar a {
    text-decoration: none;
    color: #4a6fa5;
    font-size: 14px;
    transition: 0.3s;

}

.navbar a:hover {
    color: #1a3f7a;
}

.active {
    font-weight: bold;
    color: #1a3f7a;
}

header {
    text-align: top;
    padding: 10px;
    background-color: white;
    margin: 15px;
    border-radius: 10px;
    color: #4a6fa5;
}

/* about */
.about {
    display: flex;
    align-items: center;
    padding: 25px;
    gap: 20px;
    background-color: white;
    margin: 20px;
    border-radius: 10px;
}

.about img {
    width: 300px;
    border-radius: 10px;
    height: 340px;
}

.text {
    font-size: 14px;
    line-height: 1.6;
    color: #4a6fa5;
}

/* info */
.info {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    text-align: center;
    gap: 20px;
}

.info div {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 40%;
    color: #4a6fa5;
}

/* values */
.values {
    padding: 25px;
    text-align: center;
    color: #4a6fa5;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.card {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    width: 200px;
    font-size: 13px;
    line-height: 1.5;
    color: #4a6fa5;
    transition: 0.3s;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.card:hover {
    transform: translateY(-5px);
    background-color: #ede0d4;
}

/* شعار cruelty */
.cruelty {
    text-align: center;
    margin: 20px 0;
}

.cruelty img {
    width: 80px;
    opacity: 0.9;
}

/* footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: white;
    margin-top: 20px;
    color: black;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.socials img {
    width: 28px;
    margin: 8px;
    transition: 0.3s;
    cursor: pointer;
}

.socials img:hover {
    transform: scale(1.15);
}
